* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0e1a13;
  color: #f5f5f5;
  scroll-behavior: smooth;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  z-index: 1000;
}

.navbar .logo {
  font-weight: bold;
  font-size: 20px;
  color: #00c46b;
}

.navbar nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;

  text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.3s;
    text-shadow: 0 0 8px #00f3ff;

    gap: 25px;
  
}

.navbar nav a:hover {
  color: #00c46b;
}


.hero {
  background: url(hhh.png) center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  padding: 0 20px;
}

.hero .overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.6);
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 700px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #ddd;
}

.btn {
  background: #00c46b;
  padding: 12px 25px;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #00a95c;
}


.services {
  height: 100vh;
  background: url(no.png) center/cover no-repeat;
  color:#fff;
  padding: 100px 20px;
  
}
 h2{
    text-align: center;
 }
.services h2 {
  font-size: 32px;
  color: #fff;
}

.services p {
  margin: 15px 0 30px;
  color: #fff;
}

.service-list {
list-style: none;
  font-size: 18px;
  margin-bottom: 40px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  
  gap: 40px;
  margin-top: 30px;
}

.about img {
  width: 350px;
  border-radius: 15px;
  
}

.about div {
  max-width: 400px;
  text-align: left;
  background-image: url(TT.png);
}

.about h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: brown;
}


.contact {
  background-image: url(tiktokk.png);
  padding: 100px 20px;
  text-align: center;
  
}

.contact-content h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.contact-content span {
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #0e1a13;
  color: #fff;
  outline: none;
}

button {
  background:#00c46b;;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  color: #f5f5f5;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #fff;
}


footer {
  margin-top: 80px;
  border-top: 1px solid #fff;
  padding-top: 20px;
  font-size: 14px;
}

.footer-logo {
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.footer-links a {
  margin: 0 10px;
  color: #aaa;
  text-decoration: none;
}

.footer-links a:hover {
  color: #fff;
}


@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .hero h1 {
    font-size: 30px;
  }
}